.playlist-cont{
    width: 100%;
  height: 220px;
 
}
.playlist-cont .playlist-head{
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}

.playlist-cont .playlist-head h2{
  font-size: 25px;
  line-height: 1.4  ;
}

.playlist-cont .playlist-head button {
  border: none;
  font-size: 14px;
  background: none;

}


table {
  width: 100%;
  justify-content: center;
  text-align: left;
  padding: 4px 4%;
  
  font-size: 18px;
}
table thead  {
  height: 40px;
}
table th {
  width: 30%;
  padding: 2px;
}

table th.ser-num {
  width:2%;
  padding: 6px; 
  color: red;
}
table .song-time {
  width: 2%;
  min-width: 4%; 
  color: red;
}
 .music-lists{
   overflow-y: scroll;
  overflow-x: hidden;
    scroll-behavior: smooth;
    height: 200px;
}
table .tab-row{
  height: 34px;
margin: 3px;
padding: .2rem;
}

.active {
  background-color: #000;
  color: red;
}

