
form {
    width: 100%;
}
.form-cont{
    display: flex;
    margin-left: auto;
    /* float: right; */
    width: 500px;
    background-color: #fff;
    margin-top: 10px;
    padding: .3rem;
    border-radius:20px;
}

.form-cont .search-icon{
    width:8%;
    position: relative;
    font-size: 22px;
    margin: 2px 0px;
}


.form-cont input {
    border: none;
    outline: none;
    width: 100%;
    /* padding: 2px; */
}

/* @media  (min-width: 768px) {

    .form-cont{
        width: 100%;
    } */
/* } */

@media  (max-width : 768px) {
    .form-cont{
        /* background-color: #000; */
        width: 100%;
        padding: .14rem;
        /* margin-top: 6px; */
        float: none;
    }

    .form-cont .search-icon{
        margin-left: 8px;
        margin-right: 4px;
        font-size: 14px;
    }

    .form-cont input::placeholder{
        font-size: 10px;
        align-self: center;
        color: #ccc;
    }
}
