.controls-container{

    width: 100%;
    /* position: absolute; */
    bottom: 10px;
    left: 20px;
    height: 90px;
    background-color: #fff;
    display: block;
    border-radius: 6px;

}

.controls-container .top-buttons-control {
    display: flex;
    padding: 6px;
    margin: 0px 4%;
    width: 100%;
}
.controls-container .top-buttons-control .left-controls{
    width: 15% ;
    min-width: 10%;
    margin: 4px 0;
    align-self: center;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    padding: 0 4px;
}

.controls-container .top-buttons-control .middle-cont-btn{
    width: 30%;
    margin-left: 9rem ;
    display: flex;
    align-items: center;
    font-size: 22px;
    padding: 6px 0 ;
}


.controls-container .top-buttons-control .middle-cont-btn .play-btn{
    font-size: 34px;
    margin: 0 4px;

}

.controls-container .right-control-btn {
    display: flex;
    margin-left: auto;
    margin-right:36px;
    align-items: center;
    font-size: 22px;
}

.controls-container .right-control-btn .control-range {
    width: 130px;
    background: #f4f5fe;
    padding: 2px;
    margin: 0 6px ;
    position: relative;
}

.line {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    width: 40%;
    background:#000;
}

.controls-container .song-dura-cont{
    display: flex;
    margin: 0 6%;
    margin-bottom: 30px;
}

.track-rang{
    width: 70%;
    justify-self: first baseline;
    margin: auto;
    padding: 2px;
    background: #f4f5fe;
    justify-self: center;
    position: relative;
}