*::-webkit-scrollbar{
    display: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    position: relative;
    font-size: 14px;
    height: 100vh; font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.container{
    height: 100vh;
    width: 100%;
    background: #000;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

@media ( max-width:768px ){
    body{
        width: 100%;
        height: 100vh;
        overflow: hidden;   
    }
    .container{
        display: block;
        position: relative;
    }
    .rightside {
        display: none;
        visibility: hidden;
        width: 0;  
    }
    .sidebar {
        display: none;
        width: 0;
        visibility: hidden;
    }
.main {
    width: 100%;
    height: 100%;
    border: 2px ;
}

}