/*Add google font to the code */


  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');
.sidebar{
    background: #ffffff;
    flex: 0.2;
    min-width: 230px;
    padding: 0 6px ;
    height: 100vh;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h4{
    font-size: 20px;
    font-weight: 600;
}

.widgets{
    width: 100%;
    padding: 10px;
    /* margin: 0 2% 0; */
    margin-top: 80px;
}
 .box {
    
    width: 100%;
    height:150px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    display: flex;
    list-style: none;
} 

.box li{
    font-size: 16px;
    position: relative;
    height: 40px;
    align-items: center;
    display: flex;
    padding: .2rem;
    align-items: center;
}


 .box li.active{
background: #000;
color: #ffffff;
border-radius: 10px;
} 

.box li.active::after {
    position: absolute;
    content: '';
    width: 1%;
    height: 100%;
    top: 0;
    right: -7%; 
    background-color: #000;

}

.bx-icon{
    margin: 0px 8px 0 .9rem ;
    font-size: 20px;
    color: #c3c3c3;
    align-items: center;
}

.playlist-box{
    padding: 10px; 
    
}
.playlist-box h3{
    font-size: 18px;
    padding: .7rem;
}

.playlist-box ul{
    height: 200px;
    /* background: #000; */
    overflow-y: scroll;
}
.playlist-box ul li{
list-style: none;
font-size: 18px;
padding: 4px;
height: 40px;
align-items: center;
display: flex;
align-items: center;
}