/*Add google font to the code */


  @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');
.sidebar{
    background: #ffffff;
    flex: 0.2;
    min-width: 230px;
    padding: 0 10px ;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.widgets{
    /* width: 100%; */
    margin: 0 2% 0;
    margin-top: 50px;
}
.widgets .box {
    display: flex;
    height: 50px;
    border-radius: 10px;
    color: #b3b3b4;
    padding: .8rem 0;
    align-items: center;
    margin: 10px;
}

.widgets .box h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
/* font-family: 'Roboto Condensed', sans-serif; */
}


.widgets .box.active{
background: #000;
color: #ffffff;
}

.bx-icon{
    margin: 0px 8px 0 .9rem ;
    font-size: 20px;
    color: #c3c3c3;
    align-items: center;
}