.sidebar{
    background: #ffffff;
    flex: 0.2;
    min-width: 230px;
    padding: 0 10px ;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.widgets{
    margin: 2px 4%;
}